apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: dotnet-basic-ztzsyuua
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/sjmrhtap/dotnet-basic-ztzsyuua:3cca4c172c41155d01e1d9c8226cace5c0c69fa0@sha256:f25f942e0d03ce8d01a7d03cca51bcf5e6efed5e52cc6a571dba01a40f40000e
          name: container-image
